.footer {
  background-color: #ff66b2;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.content {
  flex: 1;
}

.social-icons {
  display: flex;
  background-color: #ff66b2;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  background-color: #ff66b2;
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
}

.social-icons i {
  background-color: #ff66b2;
  font-size: 32px;
  transition: color 0.3s ease;
}

.social-icons a:hover i {
  color: #ff33a6;
}